<?xml version="1.0"?>
<config>
    <modules>
        <Trendmarke_ValidateMail>
            <version>1.0.0</version>
        </Trendmarke_ValidateMail>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <validatemail>
                    <file>validatemail.xml</file>
                </validatemail>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <validatemail>
                <class>Trendmarke_ValidateMail_Helper</class>
            </validatemail>
        </helpers>
        <blocks>
            <validatemail>
                <class>Trendmarke_ValidateMail_Block</class>
            </validatemail>
        </blocks>
        <models>
            <validatemail>
                <class>Trendmarke_ValidateMail_Model</class>
                <resourceModel>validatemail_mysql4</resourceModel>
            </validatemail>
        </models>
        <resources>
            <validatemailattribute_setup>
                <setup>
                    <module>Trendmarke_ValidateMail</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </validatemailattribute_setup>
            <validatemailattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </validatemailattribute_write>
            <validatemailattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </validatemailattribute_read>
        </resources>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <validatemail_adminhtml_widget_container_html_before_handler>
                        <type>model</type>
                        <class>validatemail/observer</class>
                        <method>addValidateButton</method>
                    </validatemail_adminhtml_widget_container_html_before_handler>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </global>
    <admin>
        <routers>
            <validatemail>
                <use>admin</use>
                <args>
                    <module>Trendmarke_ValidateMail</module>
                    <frontName>admin_validatemail</frontName>
                </args>
            </validatemail>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <validatemail_validateorders>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>validatemail/cron::validateOrders</model></run>
            </validatemail_validateorders>
        </jobs>
    </crontab>
</config> 
